<?xml version="1.0"?>
<robot name="minesweeper" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="robot_namespace" default="/" />
    <xacro:include filename="$(find minesweeper_description)/urdf/wheel.urdf.xacro"/>
    <link name="base_link">
      <inertial>
        <origin xyz="0.0 0.0 -0.07796" rpy="0.0 0.0 0.0"/>
        <mass value="20.25"/>
        <inertia ixx="0.6022" ixy="-0.02364" ixz="-0.1197" iyy="1.7386" iyz="-0.001544" izz="2.0296" />
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://minesweeper_description/meshes/base_link.STL" />
        </geometry>
        <material name="beige">
          <color rgba="0.91 0.815 0.592 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <box size=".77689 0.422 0.15592"/>
        </geometry>
        <origin xyz="0.0 0.0 0.07796"/>
      </collision>
    </link>
    <gazebo reference="base_link">
      <visual name="base_link_visual">
          <material>
              <diffuse>0.91 0.815 0.592 1.0</diffuse>
              <specular>0.91 0.815 0.592 1.0</specular>
              <ambient>0.91 0.815 0.592 1.0</ambient>
          </material>
      </visual>
    </gazebo>
    <link name="imu_link"/>
    <joint name="imu_joint" type="fixed">
      <origin xyz="0.0 0.0 0.075" rpy="0.0 0.0 0.0"/>
      <parent link="base_link"/>
      <child link="imu_link"/>
    </joint>
    <gazebo reference="imu_link">
    </gazebo>
    <link name="base_footprint"/>
    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="base_footprint" />
    </joint>
    <link name="coil_link">
        <visual>
            <geometry>
                <mesh filename="package://minesweeper_description/meshes/coil.dae"/>
            </geometry>
        </visual>
    </link>
    <joint name="coil" type="fixed">
        <parent link="base_link"/>
        <child link="coil_link"/>
        <origin xyz="0.355 0.0 0.04"/>
    </joint>pose
    <gazebo reference="coil_link">
      <visual name="base_link_visual">
          <material>
            <script>Gazebo/WoodPallet</script>
            <ambient>0.25 0.25 0.25 1.0</ambient>
          </material>
      </visual>
    </gazebo>
    <link name="coil_center_link">
    </link>
    <joint name="coil_center" type="fixed">
        <parent link="coil_link"/>
        <child link="coil_center_link"/>
        <origin xyz="0.190 0.0 -0.1"/>
    </joint>
    <xacro:wheel prefix="front_left" angle="0.0">
      <origin xyz="0.16807 0.161 0.05268"/>
    </xacro:wheel>
    <xacro:wheel prefix="front_right" angle="180.0">
      <origin xyz="0.16907 -0.161 0.05268"/>
    </xacro:wheel>
    <xacro:wheel prefix="rear_left" angle="0.0">
      <origin xyz="-0.18733 0.161 0.05268"/>
    </xacro:wheel>
    <xacro:wheel prefix="rear_right" angle="180.0">
      <origin xyz="-0.18633 -0.161 0.05268"/>
    </xacro:wheel>
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>$(arg robot_namespace)</robotNamespace>
      </plugin>
    </gazebo>
    <!--<gazebo>
      <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
        <robotNamespace>$(arg robot_namespace)</robotNamespace>
        <updateRate>50.0</updateRate>
        <bodyName>base_link</bodyName>
        <topicName>imu/data</topicName>
        <accelDrift>0.005 0.005 0.005</accelDrift>
        <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
        <rateDrift>0.005 0.005 0.005 </rateDrift>
        <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
        <headingDrift>0.005</headingDrift>
        <headingGaussianNoise>0.005</headingGaussianNoise>
      </plugin>
    </gazebo>-->
</robot>
