<launch>
  <include file="$(find minesweeper_gazebo)/launch/empty.launch">
    <arg name="gui" value="false"/>
  </include>
  <include file="$(find minesweeper_control)/launch/teleop.launch"/>
  <include file="$(find minesweeper_rviz)/launch/viz.launch"/>
  <node pkg="rqt_gui" type="rqt_gui" name="rqt"/>
</launch>
